.baseContainer {
}

.appBar {
  background-color: var(--primaryColorDark);
  display: flex;
  width: 100%;
  /*justify-content: end;*/
  position: absolute;
  top: 0;
}

.dropDown {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 2.5rem;
  right: 0;
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: var(--bgColorDark);
}

.navLink {
  color: var(--bgColorLight);
  padding: 2rem;
  text-transform: uppercase;
  text-decoration: none;
}

.navLink:active {
  color: var(--primaryColor);
}

.navLink:hover {
  color: var(--primaryColor);
}

.dropDownButton {
  width: 2.5rem;
  height: 2.5rem;
  background-color: inherit;
  color: var(--fgColor);
  outline: none;
  border: none;
  margin-left: calc(100% - 3.5rem);
}

