:root {
  --fgColor: #f2f2f2;
  --bgColor: #2f2f2f;
  --bgColorDark: #111;
  --FgColorLight: #fff;
  --primaryColor: hsl(220, 80%, 50%);
  --primaryColorDark: hsl(220, 80%, 35%);
}

html {
  color: var(--fgColor);
  background-color: var(--bgColor);
}
